{% extends 'base.html' %}

{% block 'content' %}
   </div>
   <!-- header section end -->
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6">
               <div class="about_taital_main">
                  <h1 class="about_taital">About Us</h1>
                  <p class="about_text">Discover the world with our Barsiim tour and travel services. Explore new cultures, visit iconic landmarks, and create unforgettable memories. Whether you're a solo traveler, a family, or a group of friends, we have the perfect itinerary for you.
                     </br>

Our knowledgeable and experienced travel advisors are dedicated to making your trip stress-free and enjoyable. From selecting the best flight options to recommending the best local restaurants, we take care of every detail so you can sit back and enjoy your journey.</b>

Choose from our wide range of tour packages including city breaks, beach vacations, adventure tours, and cultural expeditions. We offer flexible and customizable itineraries, so you can create the trip of your dreams.</br>

We understand the importance of responsible travel, and we work with local communities and environmentally conscious suppliers to minimize our impact on the destinations we visit.</br>

Don't wait any longer, book your Barsiim tour and travel experience with us today and start creating memories that will last a lifetime.</p>
                  <div class="readmore_bt"><a href="#">Read More</a></div>
               </div>
            </div>
            <div class="col-md-6 padding_right_0">
               <div><img src="/static/assets/images/about-img.png" class="about_img"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section end -->

{% endblock %}