{% extends 'base.html' %}

{% block 'content' %}
<script>
   var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="banner_taital">Welcome To&nbsp<a href="" class="typewrite" data-period="2000" data-type='[ "Kashmir.", "Dadoo Travels." ]'>
    <span class="wrap"></span>
  </a>
                     <p class="banner_text">Book/Customized Tour Package for Jammu & Kashmir</p>
                     <div class="read_bt"><a href="#">Enqure Now</a></div>
                     </div>
               </div>
<!--               <div class="carousel-item">-->
<!--                  <div class="container">-->
<!--                     <h1 class="banner_taital">Adventure</h1>-->
<!--                     <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the-->
<!--                        majority have sufferedThere are ma available, but the majority have suffered</p>-->
<!--                     <div class="read_bt"><a href="#">Get A Quote</a></div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="carousel-item">-->
<!--                  <div class="container">-->
<!--                     <h1 class="banner_taital">Adventure</h1>-->
<!--                     <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the-->
<!--                        majority have sufferedThere are ma available, but the majority have suffered</p>-->
<!--                     <div class="read_bt"><a href="#">Enqure Now</a></div>-->
<!--                  </div>-->
<!--               </div>-->
            </div>
         </div>
      </div>
      <!-- banner section end -->
   </div>
   <!-- header section end -->

   <!-- services section start -->
   <div class="services_section layout_padding">
      <div class="container">
         <h1 class="services_taital">Choose a Place </h1>
<!--         <p class="services_text">There are many variations of passages of Lorem Ipsum available, but the majority have-->
<!--            suffered alteration</p>-->
         <div class="services_section_2">
            <div class="row">
                {% for d in data %}
               <div class="col-md-4">
                  <div><img style="height:350px;width:100%" src="/media/{{d.Image}}" class="services_img"></div>
                  <div class="btn_main"><a href="/services/{{d.id}}">{{d.Name}}</a></div>
               </div>
                {% endfor %}
            </div>
         </div>
      </div>
   </div>




   <!-- services section end -->

             <div class="blog_section layout_padding">
      <div class="container">
<!--         <h1 class="blog_taital">See Our Video</h1>-->
<!--         <p class="blog_text">many variations of passages of Lorem Ipsum available, but the majority have suffered-->
<!--            alteration in some form, by injected humour, or randomised words which</p>-->
<!--         <div class="play_icon_main">-->
<!--            <div class="play_icon"><a href="#"><img src="static/assets/images/play-icon.png"></a></div>-->
<!--         </div>-->
      </div>
   </div>
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6">
               <div class="about_taital_main">
                  <h1 class="about_taital">About Us</h1>
                  <p class="about_text">Discover the world with our Barsiim tour and travel services. Explore new cultures, visit iconic landmarks, and create unforgettable memories. Whether you're a solo traveler, a family, or a group of friends, we have the perfect itinerary for you.</p>
                  <div class="readmore_bt"><a href="{% url 'about' %}">Read More</a></div>
               </div>
            </div>
            <div class="col-md-6 padding_right_0">
               <div><img src="static/assets/images/design2.jpg" class="about_img"></div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section end -->

   <!-- choose section start -->
   <div class="choose_section layout_padding">
      <div class="container">
         <h1 class="choose_taital">Why Choose Us</h1>
         <p class="choose_text">1. Experienced travel experts: Our team is made up of travel enthusiasts with years of experience in the industry, ensuring that you receive top-notch service and guidance throughout your trip. </p>
          <p class="choose_text">2. Affordable pricing: We strive to provide the best value for your money, with tour packages that are priced competitively and transparently.</p>

          <p class="choose_text">3. Personalized attention: Our team is dedicated to providing personalized service, taking into account your individual needs and requirements to craft a tour that's perfect for you.</p>
          <p class="choose_text">4. Unbeatable destinations: From exotic destinations to hidden gems, we have scoured the world to bring you the most beautiful and exciting places to visit</p>
          <p class="choose_text">5.Convenient booking process: Booking a tour with us is simple and straightforward, with a user-friendly website and 24/7 customer support to assist you every step of the way.</p>
          <p class="choose_text">6. Stress-free travel: Let us handle all the logistics, from transportation to accommodation and activities, so you can sit back, relax, and enjoy the rid</p>
<!--         <div class="read_bt_1"><a onclick="myFunction()" id="myBtn">Read More</a></div>-->




         <div class="newsletter_box">
            <h1 class="let_text">Let Start Talk with Us</h1>
            <div class="getquote_bt"><a href="#">Get A Quote</a></div>
         </div>
      </div>
   </div>
   <!-- choose section end -->
<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>


 
{% endblock %}